[data-page="root"] {
  padding: 20px;

  a {
    text-decoration: none;
  }

  display: grid;
  justify-content: center;

  & > .title-box {
    padding: 50px 0;
    text-align: center;
  }

  & > .content-box {
    display: grid;
    gap: 20px;

    .recoil-textarea {
      width: 300px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

      & > p {
        margin-bottom: 10px;
      }
      & > textarea {
        padding: 10px 0;
        width: 100%;
        color: #b0b0b0;
        border-top: 3px solid #ff5a5a;
        border-bottom: 3px solid #ff5a5a;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

[data-component="root.training"] {
  & > .title {
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
  }

  & > .desc-box {
    padding: 10px 0;

    & > p {
      padding: 2px;
      font-size: 12px;
    }
  }
}

$colors: #563e2e, #d77d37, #e8a545;
[data-component="root.counter"] {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  & > .count-box {
    margin-bottom: 10px;

    & > input[type="text"] {
      border-radius: 5px;
      width: 100%;
      border: px solid #393939;
      text-align: center;
      font-weight: bold;
      font-size: 20px;

      &:focus {
        outline: none;
      }
    }
  }

  & > .controller-box {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

    & > button {
      background-color: #393939;
      color: white;
      border: 0;
      padding: 10px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
