[data-page="root"] {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;

  & > button {
    padding: 20px 60px;
    border-radius: 20px;
    background-color: cadetblue;
    font-size: 60px;
    color: white;

    &:hover {
      opacity: 0.8;
    }
  }
}
