[data-layout='sampleLayout'] {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 80px auto;

    & > header {
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: cadetblue;

        & > p {
            font-size: 30px;
            color: white;
            font-weight: bold;
        }
    }
}
