[data-component="sample"] {
  display: grid;
  justify-content: center;

  & > .title-box {
    padding: 50px 0;
    text-align: center;
  }

  & > .content-box {
    display: grid;
    gap: 20px;

    & > .recoil-data {
      text-align: center;
    }
  }
}
